<main class="main">
  <div class="content">
    <div class="left-side">
      <button (click)="updateView('personajes')"> Ver lista de Personajes</button><div style="width: 50px; height: 30px"></div>
      <button (click)="updateView('requests')"> Ver detalles request hechos</button>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <app-lista-personajes *ngIf="verListaDePersonajes"></app-lista-personajes>
      <app-request-info-details *ngIf="verInfoRequests"></app-request-info-details>
    </div>
  </div>
</main>

<router-outlet />
